<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">2023 &copy; <a href="https://saotuvi.com/">saotuvi.com</a></p>
        </div>
        <!-- <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-600">v3.14.0</p>
      </div> -->
    </div>
</footer>
<div class="modal fade" id="modal" role="dialog" data-bs-focus="false" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content position-relative">
            <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Đóng</button>
                <button class="btn btn-primary btn-submit" type="button">Lưu </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="media-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content position-relative">
            <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0"></div>
        </div>
    </div>
</div>