<div class="mb-2">
    <label class="form-label" for="modal-auth-email">Tiêu đề SEO</label>
    <input class="form-control" name="metaTitle" value="" type="text" autocomplete="off" />
    <label for="metaTitle" class="form-check-label mb-0 text-danger"></label>
</div>
<div class="mb-2">
    <label class="form-label" for="modal-auth-email">Mô tả SEO</label>
    <input class="form-control" name="metaDescription" value="" type="text" autocomplete="off" />
    <label for="metaDescription" class="form-check-label mb-0 text-danger"></label>
</div>
<div class="mb-2">
    <label class="form-label" for="modal-auth-email">Từ khóa SEO</label>
    <input class="form-control" name="metaKeywords" value="" type="text" autocomplete="off" />
    <label for="metaKeywords" class="form-check-label mb-0 text-danger"></label>
</div>
<div class="mb-2">
    <label class="form-label" for="modal-auth-email">Thẻ H1</label>
    <input class="form-control" name="h1Tag" value="" type="text" autocomplete="off" />
    <label for="h1Tag" class="form-check-label mb-0 text-danger"></label>
</div>
<div class="mb-2">
    <label class="form-label" for="modal-auth-email">Thẻ Canonical</label>
    <input class="form-control" name="canonical" value="" type="text" autocomplete="off" />
    <label for="canonical" class="form-check-label mb-0 text-danger"></label>
</div>