<div class="modal-header px-5 position-relative modal-shape-header bg-shape">
    <div class="position-relative z-index-1 light">
        <h4 class="mb-0 text-white" id="authentication-modal-label">Tạo chuyên mục</h4>
        <!-- <p class="fs--1 mb-0 text-white">Please create your free Falcon account</p> -->
    </div><button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"
        aria-label="Close"></button>
</div>
<div class="modal-body py-4 px-5">
    <form action="/stv/category/create" method="put" data-ajax="true">
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Tên chuyên mục</label>
            <input class="form-control" name="name" value="" type="text" autocomplete="off" />
            <label for="name" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Mô tả</label>
            <input class="form-control" name="description" value="" type="text" autocomplete="off" />
            <label for="description" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Url</label>
            <input class="form-control" name="slug" value="" type="text" autocomplete="off" />
            <label for="slug" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Chuyên mục cha</label>
            <select class="form-control" name="parent">
                <option value="">...</option>
                <%if (typeof (data) !='undefined' && data.length > 0) {
                    for(var index = 0; index < data.length; index ++)
                    {%>
                        <option value="<%= data[index]._id %>"><%= data[index].name %></option>
                    <%}
                }%>
            </select>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Hình ảnh</label>
            <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                <div class="file-thumbnail"><img class="border h-100 w-100 fit-cover rounded-2" src="/admin/img/products/5-thumb.png" alt="image"></div>
                <div class="ms-3 flex-shrink-1 flex-grow-1">
                  <h6 class="mb-1"><span class="stretched-link text-900 fw-semi-bold">apple-smart-watch.png</span></h6>
                  <div class="hover-actions end-0 top-50 translate-middle-y">
                    <a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" href="/admin/img/icons/cloud-download.svg" download="download" aria-label="Download" data-bs-original-title="Download"><img src="/admin/img/icons/cloud-download.svg" alt="" width="15"></a>
                    <button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none select-image" data-url="/stv/media" type="button" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit"><img src="/admin/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                </div>
              </div>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Controller/Action</label>
            <input class="form-control" name="controllerAction" value="" type="text" autocomplete="off" />
        </div>
        <%- include('../partials/metadata') %>
        <div class="mb-3"><button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Lưu thông
                tin</button></div>
    </form>
</div>