<div class="card mb-3" id="ordersTable"
    data-list='{"valueNames":["order","date","address","status","amount"],"page":10,"pagination":true}'>
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Orders</h5>
            </div>
            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                <div class="d-none" id="orders-bulk-actions">
                    <div class="d-flex"><select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select><button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button></div>
                </div>
                <div id="orders-actions"><button class="btn btn-falcon-default btn-sm" type="button"><span
                            class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span
                            class="d-none d-sm-inline-block ms-1">New</span></button><button
                        class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter"
                            data-fa-transform="shrink-3 down-2"></span><span
                            class="d-none d-sm-inline-block ms-1">Filter</span></button><button
                        class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt"
                            data-fa-transform="shrink-3 down-2"></span><span
                            class="d-none d-sm-inline-block ms-1">Export</span></button></div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="col-xl-12">
            <div class="card mb-3">
                <div class="card-body bg-light">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel"
                            aria-labelledby="tab-dom-a47ea8a0-7e5f-4864-80cd-b540b6777009"
                            id="dom-a47ea8a0-7e5f-4864-80cd-b540b6777009">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        href="#tab-home" role="tab" aria-controls="tab-home" aria-selected="true">Hình
                                        ảnh</a></li>
                                <li class="nav-item"><a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        href="#tab-profile" role="tab" aria-controls="tab-profile"
                                        aria-selected="false">Tải ảnh</a></li>
                            </ul>
                            <div class="tab-content border-x border-bottom p-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                    stumptown
                                    aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles
                                    vegan
                                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
                                    banh
                                    mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.</div>
                                <div class="tab-pane fade" id="tab-profile" role="tabpanel"
                                    aria-labelledby="profile-tab">Food

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel"
                            aria-labelledby="tab-dom-0663c963-c755-4709-a4be-e23294f62160"
                            id="dom-0663c963-c755-4709-a4be-e23294f62160">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;ul class=&quot;nav nav-tabs&quot; id=&quot;myTab&quot; role=&quot;tablist&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link active&quot; id=&quot;home-tab&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#tab-home&quot; role=&quot;tab&quot; aria-controls=&quot;tab-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; id=&quot;profile-tab&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#tab-profile&quot; role=&quot;tab&quot; aria-controls=&quot;tab-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; id=&quot;contact-tab&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#tab-contact&quot; role=&quot;tab&quot; aria-controls=&quot;tab-contact&quot; aria-selected=&quot;false&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div class=&quot;tab-content border-x border-bottom p-3&quot; id=&quot;myTabContent&quot;&gt;
        &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;tab-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;home-tab&quot;&gt;Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.&lt;/div&gt;
        &lt;div class=&quot;tab-pane fade&quot; id=&quot;tab-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;profile-tab&quot;&gt;Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic. &lt;/div&gt;
        &lt;div class=&quot;tab-pane fade&quot; id=&quot;tab-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;contact-tab&quot;&gt;Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.&lt;/div&gt;
        &lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex align-items-center justify-content-center"><button class="btn btn-sm btn-falcon-default me-1"
                type="button" title="Previous" data-list-pagination="prev"><span
                    class="fas fa-chevron-left"></span></button>
            <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button"
                title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
        </div>
    </div>
</div>